.lang-one {
    padding: 4.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
}

.lang-one h2 {
    width: 37.5rem;
    font-size: 2.5rem;
    color: white;
    font-weight: 800;
    margin-bottom: 4.4rem;
    text-align: center;
}

.lang-one-circule {
    background-color: rgb(0, 243, 255);
    color: white;
    height: 4.4rem;
    width: 4.4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.2rem;
    margin-bottom: 0.6rem;
    animation: pulseAnimation 3s infinite;
    transition: all 0.3s ease;
}


.lang-one-box {
    display: flex;
    gap: 3.1rem;
}

.lang-one-circule-o {
    background-color: rgb(255, 107, 107);
}

.lang-one-box {
    display: flex;
    gap: 3.1rem;
    position: relative;
}

.lang-one-box div {
    position: relative;
    animation: waveAnimation 2s ease-in-out infinite;
}

.lang-one-box div:nth-child(1) {
    animation-delay: 0s;
}

.lang-one-box div:nth-child(2) {
    animation-delay: 0.5s;
}

.lang-one-box div:nth-child(3) {
    animation-delay: 1s;
}

@keyframes waveAnimation {

    0%,
    100% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-0.6rem);
    }

    50% {
        transform: translateY(0);
    }

    75% {
        transform: translateY(0.3rem);
    }
}

@media screen and (max-width: 1023px) {
    .lang-one {
        padding: 3rem;
    }
    
    .lang-one h2 {
        width: 31.25rem;
        font-size: 2rem;
        margin-bottom: 3rem;
    }
    
    .lang-one-box {
        gap: 2.5rem;
    }
    
    .lang-one-circule {
        height: 3.8rem;
        width: 3.8rem;
        font-size: 1.9rem;
    }
}

@media screen and (max-width: 767px) {
    .lang-one {
        padding: 2rem 1rem;
    }
    
    .lang-one h2 {
        width: 100%;
        font-size: 1.8rem;
        margin-bottom: 2.5rem;
        padding: 0 1rem;
    }
    
    .lang-one-box {
        gap: 1rem;
    }
    
    .lang-one-circule {
        height: 3.3rem;
        width: 3.3rem;
        font-size: 1.7rem;
    }
}