.motivation-container {
    margin: 60px 0 60px;
    border-radius: 15px;
    padding: 65px;
    text-align: center;
    line-height: 2;
    background: rgba(255, 255, 255, 0.05);
    font-style: italic;


}

.motivation-container h2 {
    font-size: 18px;
    color: white;
    font-weight: 300;
}

.motivation-container p {
    color: #8A8A9D;
}

@media screen and (max-width: 1023px) {
    .motivation-container {
        padding: 30px 35px;
        line-height: 1.4;
    }

    .motivation-container h2 {
        font-size: 17px;
    }
}

@media screen and (max-width: 767px) {
    .motivation-container {
        padding: 30px 25px;
        line-height: 1.4;
        font-style: normal;
    }

    .motivation-container h2 {
        font-size: 14px;
    }

    .motivation-container p {
        font-size: 12px;
    }
}