.sidebar {
  position: fixed;
  top: 0;
  right: -20rem;
  width: 20rem;
  height: 100vh;
  background-color: rgb(10, 14, 23);
  color: white;
  padding: 2.5rem;
  transition: right 0.3s ease;
  z-index: 2000;
  box-sizing: border-box;
}

.sidebar.open {
  right: 0;
}

.sidebar-profil {
  font-size: 4.5rem;
  text-align: center;
}

.sidebar-hr {
  margin: 1rem 0 1.5rem;
}

.sidebar-logo-text {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.sidebar-logo-text div {
  display: flex;
  font-size: 1rem;
  gap: 1.2rem;
}

.sidebar-login {
  margin-top: 2.5rem;
}

.sidebar-login-item1 {
  border: none;
  display: flex;
  background-color: brown;
  gap: 0.6rem;
  font-size: 1rem;
  border-radius: 1.8rem;
  padding: 0.6rem 1rem;
  margin: auto;
  color: white;
  transition: 0.2s ease;
  cursor: pointer;
}

.sidebar-login-item1:hover {
  transform: translate(0.25rem);
  background-color: rgb(255, 107, 107);
}

.sidebar-login-link {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
}

@media screen and (max-width: 1023px) {
  .sidebar {
    right: -17.5rem;
    width: 17.5rem;
    padding: 2rem;
  }
  
  .sidebar-profil {
    font-size: 4rem;
  }
  
  .profil-edit {
    gap: 1.25rem;
  }
  
  .sidebar-hr {
    margin: 0.75rem 0 1.25rem;
  }
  
  .sidebar-logo-text {
    gap: 0.5rem;
  }
  
  .sidebar-logo-text div {
    font-size: 0.9375rem;
    gap: 1rem;
  }
  
  .sidebar-login {
    margin-top: 2rem;
  }
  
  .sidebar-login-item1 {
    gap: 0.5rem;
    font-size: 1.125rem;
    padding: 0.5rem 1rem;
  }
  
  .sidebar-login-link {
    font-size: 1.125rem;
  }
}

@media screen and (max-width:  767px) {
  .sidebar {
    right: -85vw;
    width: 85vw;
    max-width: 18rem;
    padding: 1.5rem;
  }
  
  .sidebar-profil {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  .sidebar-hr {
    margin: 0.6rem 0 2rem;
  }
  
  .sidebar-logo-text {
    gap: 0.7rem;
  }
  
  .sidebar-logo-text div {
    font-size: 0.875rem;
    gap: 0.75rem;
  }
  
  .sidebar-login {
    margin-top: 1.5rem;
  }
  
  .sidebar-login-item1 {
    font-size: 1rem;
    padding: 0.5rem 0.875rem;
  }
  
  .sidebar-login-link {
    font-size: 1rem;
  }
}